<section class="admin-dashboard-show">
  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="row">
    <div class="card dashboard col-sm-6 text-center">
      <div class="card-header">
        <h4>Total products</h4>
      </div>
      <div class="card-body">
        <p>Total count of all the products in the database.</p>
        <p class="value"><%= @total_products %></p>
        <%= link_to "Products", admin_products_path, class: "btn btn-primary" %>
      </div>
    </div>

    <div class="card dashboard col-sm-6 text-center">
      <div class="card-header">
        <h4>Total categories</h4>
      </div>
      <div class="card-body">
        <p>Total count of all the categories in the database.</p>
        <p class="value"><%= @total_categories %></p>
        <%= link_to "Categories", admin_categories_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</section>
